<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Titre de votre page</title>
</head>
<body>
    <h1>Grid</h1>
    <main>
    <div class="grid1">
        <div class="colonne1">
            <img src="photos/livres.jpg" alt="1" width="990" height="470">
        </div>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam egestas purus lacinia commodo dictum. 
                Quisque dolor felis, luctus ut orci ornare, eleifend aliquet lectus. 
                Nam dignissim cursus felis sed vehicula. Morbi a egestas tellus.</p>
            <footer>
                <img class="colonne2" src="photos/tasse.jpg" width="100" alt="pause lecture avec café">
                <span>Pause cafe<br>avec des roses</span>
            </footer>
        </blockquote>
    </div>
    <div class="grid2">
        <div class="colonne3">
            <img src="photos/miroir.jpg" alt="1" width="360" height="380" >
        </div>
        <div class="colonne4">
            <img src="photos/fleure.jpg" alt="2" width="990" height="470">
        </div>
    </div> </main>
</body>
</html>
